body {
  background: #DFE1ED;
  color: #000000;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {

  padding-left: 15px;
  padding-right: 15px;
}
/* Custom page header */
.container {
  /*background-image:url(FOND.jpg);
  background-size: 930px, 930px;*/
}

.row {
  border-bottom: 2px solid #e5e5e5;
}
.start {
  color: #000000;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 140%;
  padding: 20px 20px 20px 20px;
  position: relative;
  margin-top:20px;

}

.start h1 {
  font-weight: 700;
   font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}
.start h2 {
   font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

/* Custom page footer */
.footer {
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;

}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 930px;
  }
}
a {
  color: #000000;
  text-decoration: none;
}
